{%extends 'index.html'%}

{%block content%}

<h1>Home</h1>

{%if user.is_authenticated%}

<h2>Search </h2>

<form action="{%url 'home'%}" method="get">
    <input type="text" name="q" placeholder="Search profiles">
    <input type="submit" value="Search">
</form>

{%for profile in profiles%}

<div class="profile-card">
    <h1>{{profile.child_name}}</h1>
    <h2>{{profile.child_age}}</h2>
</div>

{%endfor%}

{%else%}

<!-- <h3 style="text-align: center;">Welcome To The Second Child!</h3> -->
<div class="quote">
<blockquote>
<Span>A Platform for the Parents and Children from the people who want to serve the community.
    Now take care of other's children with assurance that someone is helping yours <br><br>-Team TheSecondChild</Span>
</blockquote>
</div>

<div class="home-main">
    <div class="container">
        <div class="card">
            <div class="card-image">
                <img src="" >
            </div>
            <h1>Shivansh Mehrotra</h1>
            <h3>Jaypee University of Information Technology</h3>
            <h3>Lucknow</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique possimus est laborum </p>
            <a href="">Visit Profile!</a>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="" >
            </div>
            <h1>Manas Bajpai</h1>
            <h3>Jaypee University of Information Technology</h3>
            <h3>Faridabad</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique possimus est laborum </p>
            <a href="">Visit Profile!</a>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="" >
            </div>
            <h1>Arpit Sangrai</h1>
            <h3>Jaypee University of Information Technology</h3>
            <h3>Chandigarh</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique possimus est laborum </p>
            <a href="">Visit Profile!</a>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="" >
            </div>
            <h1>Shubh Saxena</h1>
            <h3>Jaypee University of Information Technology</h3>
            <h3>Lucknow</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique possimus est laborum </p>
            <a href="">Visit Profile!</a>
        </div>
        <div class="card">
            <div class="card-image">
            <img src="" >
            </div>
            <h1>Shivansh Mehrotra</h1>
            <h3>Jaypee University of Information Technology</h3>
            <h3>Lucknow</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique possimus est laborum </p>
            <a href="">Visit Profile!</a>
        </div>
        <div class="card">
            <div class="card-image" src="static\photos\person1.jpg"></div>
            <h1>Manas Bajpai</h1>
            <h3>Jaypee University of Information Technology</h3>
            <h3>Faridabad</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique possimus est laborum </p>
            <a href="">Visit Profile!</a>
        </div>
        <div class="card">
            <div class="card-image"></div>
            <h1>Arpit Sangrai</h1>
            <h3>Jaypee University of Information Technology</h3>
            <h3>Chandigarh</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique possimus est laborum </p>
            <a href="">Visit Profile!</a>
        </div>
        <div class="card">
            <div class="card-image"></div>
            <h1>Shubh Saxena</h1>
            <h3>Jaypee University of Information Technology</h3>
            <h3>Lucknow</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique possimus est laborum </p>
            <a href="">Visit Profile!</a>
        </div>
        <div class="card">
            <div class="card-image"></div>
            <h1>Shivansh Mehrotra</h1>
            <h3>Jaypee University of Information Technology</h3>
            <h3>Lucknow</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique possimus est laborum </p>
        </div>
        <div class="card">
            <div class="card-image" src="static\photos\person1.jpg"></div>
            <h1>Manas Bajpai</h1>
            <h3>Jaypee University of Information Technology</h3>
            <h3>Faridabad</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique possimus est laborum </p>
            <a href="">Visit Profile!</a>
        </div>
    </div>
</div>

{%endif%}


{%endblock%}