{%block content%}


<nav class="navbar">
    <a href="{%url 'home'%}">
        <h1>
            Second Child
        </h1>
    </a>
    {%if user.is_authenticated%}
    <div class="links">
        
    <span>
        <a class="nav-link" href="{%url 'profile' username=user.username%}">Profile</a>
        <a class="nav-link" href="{%url 'logout'%}">Logout</a>
    </span>
    {%else%}
    <span>
        <a class="nav-link" href="{%url 'login' %}">Login</a>
        <a class="nav-link" href="{%url 'signup'%}">SignUp</a>
    </span>
    {%endif%}
</div>

</nav>

{%endblock content%}